# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.ipynb_checkpoints
*.env
.env
.venv/
venv/
Pipfile.lock
poetry.lock

# === C++ ===
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib
**/.cache/
cpp/.cache/clangd/
*.idx

# === Build files ===
build/
dist/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
install_manifest.txt
compile_commands.json

# === IDEs and Editors ===
.vscode/
.idea/
*.swp
*.swo
*~

# === Logs and Debug ===
*.log
*.stackdump
core
*.core

# === Docker ===
*.container
*.pid

# === Misc ===
.DS_Store
*.bak
